@model List<Test_1.Models.Contract>


<h2>Contracts</h2>

<table class="table">
    <thead>
        <tr>
            <th>Contract Code</th>
            <th>Contract Name</th>
            <th>Customer</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contract in Model)
        {
            <tr>
                <td>@contract.ContractCode</td>
                <td>@contract.ContractName</td>
                <td>@contract.Customer</td>
            </tr>
        }
    </tbody>
</table>

